<mat-toolbar-row>
  <mat-icon class="icon" routerLink="/" matTooltip="Pregled profila">arrow_back</mat-icon>
  <span class="spacer"></span>
  <mat-icon class="icon" (click)="logout()" matTooltip="Odjava">power_settings_new</mat-icon>
</mat-toolbar-row>
<div class="container">

  <mat-card *ngIf="this.userInfo">
    <mat-card-title>
      {{this.userInfo.lastname}}&nbsp;&nbsp;{{this.userInfo.firstname}}
    </mat-card-title>
    <mat-card-subtitle *ngIf="this.userInfo.gender === 'M'">
      Muškarac, {{this.userInfo.age}}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="this.userInfo.gender === 'Ž'">
      Žena, {{this.userInfo.age}}
    </mat-card-subtitle>
    <mat-card-content>
      <mat-card-title>
        Pregled vježbi
      </mat-card-title>
      <mat-list-item *ngFor="let o of this.expandedView; let i = index">
        <mat-card>
          <mat-card-header>
            <mat-icon class="delete" matTooltip="Ukloni vježbu" (click)="removeItem(o,i);">close</mat-icon>
          </mat-card-header>
          <mat-card-content>
            {{o.name}}
          </mat-card-content>
        </mat-card>
        <br>
      </mat-list-item>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button routerLink="/excercises">
        Dodaj novu vježbu
      </button>
    </mat-card-actions>
  </mat-card>
</div>
