.container{
  width:75%;
  margin:0 auto;
}
.spacer{
  flex: 1 1 auto;
}
mat-toolbar-row{
  display:flex;
}
.delete{
  float:right;
  width:15px;
  height:15px;
  padding: 1px;
  cursor:pointer;
}
mat-card-header{
  display:inline;
}
