<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Registracija
      </mat-card-title>
      <mat-card-subtitle>
        Kreiranje korisnika
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="control">
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Korisničko ime">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" type="password" placeholder="Lozinka">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="firstname" placeholder="Ime">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastname" placeholder="Prezime">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="age" placeholder="Starost (god)">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="gender" placeholder="Spol">
            <mat-option value="M">Muško</mat-option>
            <mat-option value="Ž">Žensko</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="height" placeholder="Visina (cm)">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="weight" placeholder="Masa (kg)">
        </mat-form-field>
      </form>
      <br><br>
      <div class="interactions">
        <mat-hint *ngIf="this.status == '500'" class="unauthorized">Neispravno korisničko ime ili lozinka!</mat-hint>
        <mat-hint *ngIf="this.status == '200'" class="success">Uspješna registracija!</mat-hint>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="secondary" routerLink="/">Odustani</button>
      <button mat-raised-button color="secondary" type="submit" [disabled]="this.control.invalid" (click)="this.attemptRegistration()">Registriraj me!</button>
    </mat-card-actions>
  </mat-card>
</div>
